@charset "utf-8";

// ===================================================================
// 各種セッティング
// ===================================================================

// 付与するベンダープレフィックス
$set_prefix: -webkit-, -moz-, -ms-, -o-, null;

// カラー（ベースカラー）
$base_color: #fff;
$ac_color: #faede7;
$font_color: #363636;
$sub_color: #5e5e5e;
$border_color: #efebe9;
$hover_color: rgba(#363636,0.7);

// 角丸の初期値
$br_value: 8px;
$sh_value: 0px 2px 2px 4px rgba(#363636,0.2); // 光源正面 

// HTML5の場合は値を「false」から「true」にする
$use_html5: true;

// 汎用クラスを使用するか
$use_extend_object: true;

// 簡易ロールオーバーの値
$opacity_value: .55;

// 余白調整用のクラスを使用するか
$use_spacing_classes: false;

// 画像のパス
$img_path: "./images/";

// ベースフォント
$base_font: "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;

// ページ全体の横幅
$base_width: 960px;

// 要素の基本単位
$bs: 8px;


// ===================================================================
// フォントサイズ
// ===================================================================
$fontSizeList: 62%, 70%, 77%, 85%, 93%, 100%, 108%, 116%, 124%, 131%, 139%, 147%, 154%, 162%, 170%, 177%, 185%, 193%, 200%, 208%, 216%, 224%, 231%, 239%, 247%, 254%, 262%, 270%, 277%, 285%, 293%, 300%, 308%;

@function fz($size) {
	@if $size < 8 {
		$size: 8;
	}
	@if $size > 40 {
		$size: 40;
	}
	@return nth($fontSizeList, $size - 7);
}