@charset "UTF-8";
/* Description: ログイン画面 */
.login {
  font-family: 'Noto Sans Japanese', sans-serif;
  padding: 8% 0% 2% !important;
  background: url(./images/bg/bg_dummy_02.jpg) no-repeat center center;
  background-size: cover;
  /* Google Chrome, Safari, Opera 15+, Android, iOS */
  /*for Firefox*/
  /* Firefox 19+ */
  /* IE 10+ */ }
  .login #login {
    width: 100%;
    max-width: 340px;
    padding: 64px 40px 8px !important;
    box-sizing: border-box;
    background: rgba(250, 237, 231, 0.8);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.13); }
    .login #login h1 {
      margin-bottom: 16px; }
      .login #login h1 a {
        width: 240px;
        height: 48px;
        background: url(./images/bg/bg_login_logo@2x.png) no-repeat 0 0;
        background-size: contain !important;
        margin: 0 auto; }
    .login #login #loginform {
      margin-top: 0 !important;
      margin-left: 0;
      padding: 8px 0 24px;
      background: transparent !important;
      -webkit-box-shadow: none !important;
      box-shadow: none !important; }
      .login #login #loginform p.submit .button-primary {
        background: #363636;
        border-color: #363636;
        -webkit-box-shadow: 0 1px 0 #006799;
        box-shadow: 0 1px 0 #006799;
        color: #fff;
        text-decoration: none;
        text-shadow: 0 -1px 1px #006799, 1px 0 1px #006799, 0 1px 1px #006799, -1px 0 1px #006799; }
    .login #login #backtoblog {
      text-align: center;
      padding: 0 !important;
      width: 100%; }
      .login #login #backtoblog::before {
        display: block;
        content: "";
        width: 120px;
        height: 24px;
        margin: 0 auto 8px;
        background: url(./images/bg/bg_login_cr-logo@2x.png);
        background-size: contain; }
      .login #login #backtoblog::after {
        font-size: 85%;
        content: "© ONESTYLE. All Rights Reserved.";
        letter-spacing: .12em; }
  .login input#user_login,
  .login input#user_pass {
    font-size: 16px !important;
    padding: 8px 16px !important; }
  .login input:placeholder-shown {
    font-size: 13px; }
  .login p.forgetmenot label {
    color: #363636 !important; }
  .login input::-webkit-input-placeholder {
    font-size: 13px; }
  .login input:-moz-placeholder {
    font-size: 13px; }
  .login input::-moz-placeholder {
    font-size: 13px; }
  .login input:-ms-input-placeholder {
    font-size: 13px; }
